nodejs-containers-shared-dir/*
liferay7-containers-shared-dir/*
liferay7/container_config_folder/downloads/*
apache-containers-shared-dir/*
data-dir-for-mariadb/*
maven_containers_shared_dir/*

**/target
**/*.pdf
**/*.jar
**/*.war
**/Download/*
**/pdf/*
**/pdfs/*
**/download/*
**/Downloads/*
**/downloads/*
tomcat7.0.56/downloads/*
android-java-oracle-8-fed27/downloads/*
**/*.html
*.log
\#*
*#
.#*
**/#
*~
*.tar
nodejs/DojoCliAppTest1
maven/nexus-data
noncommitit/*
data-dir*
**/*.tmp
**/*ipgg*
**/*.csv
bkpImgs
