liferay7-containers-shared-dir/*
data-dir-for-mariadb/*
**/Download/*
**/download/*
**/Downloads/*
**/downloads/*
tomcat7.0.56/downloads/*
android-java-oracle-8-fed27/downloads/*
**/*.html
*.log
\#*
*#
.#*
**/#
*~
*.tar
nodejs/DojoCliAppTest1
maven/nexus-data
noncommitit/*
